<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row size = "20">
    <ion-title>
      @OmarAlexGarza
    </ion-title>
  </ion-row>

  <ion-row size = "20">
    <ion-col>
      <ion-row size = "2">
      <ion-img style="width: 100px; height: 100px;" src="assets/imagenes/FotoP.jpg"></ion-img>
    </ion-row>
    <ion-row size = "2">
      Omar Garza Lozano
    </ion-row>
    </ion-col>

    <ion-col>
      <ion-row>
        4
      </ion-row>
      <ion-row>
        publicaciones
      </ion-row>
    </ion-col>

    <ion-col>
      <ion-row>
        10
      </ion-row>
      <ion-row>
        seguidos
      </ion-row>
    </ion-col>

    <ion-col>
      <ion-row>
        1,000
      </ion-row>
      <ion-row>
        seguidores
      </ion-row>
    </ion-col>

  </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-col *ngFor="let publicacion of publicacionesusuario">
    <img style="width: 150px; height: 150px;" src={{publicacion.Foto}}>

  </ion-col>
  

  
</ion-content>